# Framework e Banco de Dados
Flask
Flask-SQLAlchemy

# Gerenciamento de Migrações do Banco de Dados
Flask-Migrate

# Formulários e Segurança
Flask-WTF
email-validator

# Autenticação Google (OAuth)
Authlib
requests

# Envio de E-mail
Flask-Mail

# --- BIBLIOTECAS DE IA ---
langchain
langchain-google-genai
langchain-community
faiss-cpu

# Gerenciamento de Variáveis de Ambiente
python-dotenv

# Relatórios e Exportação para Excel
pandas
openpyxl

# Lógica de Feriados
holidays

# Servidor de Produção WSGI
gunicorn